@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: var(--very-dark-blue);
  color: var(--white);
}
.loading {
  color: var(--white);
}
/* Country Details */
.country-details{
  padding: 4rem 0;
}
.btn-back{
  color: var(--white);
  background: var(--dark-blue);
  text-decoration: none;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  display: inline-block;
}
.btn-back:hover{
  color: var(--white);
}
.flag{
  width: 100%;
}
.country-details strong{
  text-transform: capitalize;
  font-weight: 600;
}
.borders-list{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  padding-inline-start: 0;
}
.borders-list li{
  background: var(--dark-blue);
  padding: 0.5rem 1rem;
  margin-right: 0.8rem;
  border-radius: 5px;
}