@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: var(--very-dark-blue);
  color: var(--white);
}
.loading {
  color: var(--white);
}
.countries-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
